/* (.) is a class name, while # is for id */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.container {
    display: flex;
}

.container>div {
    flex 1;
    /*grow*/
}

body {
    background-color: #F5F5F5;
    color: #404040;
    font-family: 'Nanum Myeongjo', serif;
}

.column {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 21.5em;
}

div:not(:last-child) {
    margin-right: 30px;
}

a:link {
    text-decoration: none;
    color: #0177BD;
}

a:visited {
    text-decoration: none;
    color: #0177BD;
}

a:hover {
    text-decoration: underline;
    color: #0177BD;
}

a:active {
    text-decoration: underline;
    color: #0177BD;
}

h1 {
    font-weight: normal;
    font-family: 'Nanum Myeongjo', serif;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    line-height: 20pt;
}

.footer {
    font-size: 0.7em;
}
